@model List<YapimciViewModel>
@{
    Layout = "_LayoutBoxContent";
    ViewData["LayoutHeaderTitle"] = "Yapımcılar - " + ViewData["Time"];
    ViewData["LayoutHeaderButtonController"] = "Yapimci";
    ViewData["LayoutHeaderButtonAction"] = "Add";
    ViewData["LayoutHeaderButtonTitle"] = "Yeni";
}

@section LayoutBoxNotifation
{
    @if (TempData.ContainsKey("RecordNotFounded"))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Kayıt Bulunamadı</strong>
            <hr />
            <p>@TempData["RecordNotFounded"]</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

@section LayoutBoxBody
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Adı</th>
                <th scope="col">Soyad</th>
                <th scope="col">DogumTarihi</th>
                <th scope="col">SahismiSirketmi</th>
                <th scope="col">SirketAdi</th>
                <th scope="col">Durumu</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (YapimciViewModel yapimci in Model)
                {
                    <tr>
                        <td>@yapimci.RowNumber</td>
                        <td>@yapimci.Ad</td>
                        <td>@yapimci.Soyad</td>
                        <td>@yapimci.DogumTarihi</td>
                        <td>@yapimci.SahismiSirketmi</td>
                        <td>@yapimci.SirketAdi</td>
                        <td>@yapimci.Status</td>

                        <td>
                            <status status="@yapimci.Status" true-text="Aktif" false-text="Pasif"></status>
                        </td>
                        <td>
                            <actions-button aria-label="Yapimci işlemleri Düzenle, Detay ve Sil"
                                            edit-link="@Url.Action("Edit", "Yapimci", new { id = yapimci.Id})"
                                            detail-link="@Url.Action("Detail", "Yapimci", new { id = yapimci.Id})"
                                            delete-link="@Url.Action("Remove", "Yapimci", new { id = yapimci.Id})">

                            </actions-button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <p class="text-muted text-center">Liste boş</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
